@CHARSET "ISO-8859-1";
/* Start of CSS for tables */
table {
	empty-cells: show;
}

.table {
	background-color: #669933;
	border: medium groove #660000;
	width: 100%;
}

.hidden {
	display: none;
}

.columnHeader {
	background-color: #3CB371;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 2px;
}

table.alternateColor tr:nth-child(2n) { /* even rows */ 
  background-color:#eee;
}     
table.alternateColor tr:nth-child(2n+1) { /* odd rows */
  background-color:#ccc;
} 

.tr {
	height:100px;
	background: #F0F0F0
}

/* End of CSS for tables */
.layer {
	margin: 0;
	padding: 0;
	width: 100%;
}

.heading {
	margin: 1px;
	color: #fff;
	padding: 3px 10px;
	cursor: pointer;
	position: relative;
	background-color: #00B2EE;
}

.content {
	padding: 5px 10px;
	background-color: #fafafa;
}

p {
	padding: 5px 0;
}

.column_1_1 {
	display: block;
	text-align: left;
	width: 98%;
	margin-right: 0px;
	padding-right: 0;
}

.column_1_2 {
	width: 48%;
	float: left;
}

.column_2_2 {
	width: 51%;
	float: left;
}

.column_1_3 {
	width: 33%;
}

.column_2_3 {
	width: 33%;
	float: left;
}

.column_3_3 {
	width: 33%;
	float: left;
}


td.column_label {
	width: 15%;
}

td.column_value {
	width: 18%;
}


fieldset {
	padding: 15px;
}

label {
	display: block;
	margin: 2px 0 2px 0;
	padding: 1px;
	font-weight: normal;
	position: relative;
	text-align: left;
	width: 40%;
	height: 25px;
}

legend {
	font-weight: bold;
	width: 100%;
	background: #E8E8CD;
	color: #31569C;
	border: 1px solid #AFAE8E;
	padding-left: 15px;
	padding-right: 9px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.textarea,.TEXTAREA {
	text-align: left;
	color: black;
	font-family: arial, helvetica, sans-serif;
}

.text,.Text,.TEXT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}