body {
    width: 100%;
    height: auto;
    background-color: #282625;
    margin: 0px auto;
    padding: 0px;
    font-family: Trebuchet MS;
    font-size: 13px;
    color: #454545;
}

a {
    color: #000;
    text-decoration: none;
    border: 0px;
}

a:hover {
    color: #454545;
}

.main_div {
    width: 94%;
    height: auto;
}

.title_bg {
    background-image: url(../images/title1.png);
    width: 100%;
    height: 156px;
    margin: 0px 0px 0px 10px;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: 34px;
}

.top_bg {
    width: 100%;
    height: 68px;
}

.middle_bg {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px -5px;
}

.logo_div {
    text-align: left;
    padding: 20px 0px 0px;
    float: left;
}

.logo_div a {
    text-decoration: none;
    border: 0px;
}

.logo_div a img {
    border: 0px;
}

.div_contactinfo {
    float: right;
    text-align: right;
    padding: 55px 0px 0px 0px;
    font-size: 23px;
    color: #999;
}

.clear {
    clear: both;
    height: 10px;
}

.div_line {
    height: 1px;
    background-color: #999;
    margin: 5px 0px;
}

.div_blackheader {
    height: 25px;
    background-color: #111;
    border-radius: 6px;
    margin: 5px 0px;
    padding: 5px 0px;
    color: orange;
    text-align: center;
    font-size: 20px;
}

.maindata_div {
    width: 100%;
    padding: 0px;
    background-color: #111;
    border-radius: 6px;
    margin: 0px 0px;
}

.table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.td_headerinfo {
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.td_headerinfo a {
    text-decoration: none;
}

.td_headerinfo a img {
    border: 0px;
}

.td_logout {
    text-align: right;
}

.td_logout a {
    text-decoration: none;
    border: 0px;
}

.td_logout a img {
    border: 0px;
}

.bottom_bg {
    width: 990px;
    height: 31px;
    text-align: center;
    padding: 4px 0px 0px 0px;
    color: #fff;
}

.bg_title {
    background-image: url(../images/Bg_Title.png);
    background-repeat: repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    height: 152px;
}

.menu_td {
    width: 22%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 2px #e9e9e9;
    height: 300px;
    vertical-align: top;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.menu_td ul li {
    line-height: 22px;
    list-style-image: url(../images/arrow.png);
    list-style-position: inherit;
    margin: 0px auto;
    padding: 0px auto;
    text-transform: capitalize;
}

.menu_td ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
}

.menu_td ul li a:hover {
    color: #454545;
}

.data_td {
    width: 78%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 2px #e9e9e9;
    height: auto;
    vertical-align: top;
}

.container {
    width: 100%;
    margin: 15px auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
    height: 31px;
    margin-left: 20px;
    border-bottom: 0px solid #999;
    border-left: 0px solid #999;
    width: 100%;
    font-family: Segoe UI;
    font-size: 10px;
    color: #006699;
    font-weight: bold;
    text-align: center;
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 31px;
    border-left: none;
    margin-bottom: -1px;
    width: 120px;
    height: 31px;
    text-align: justify;
    border: solid 1px #d8e1e8;
    border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    position: relative;
    margin: 0px 10px 0px 0px;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 0px solid #fff;
    outline: none;
    text-align: center;
}

html ul.tabs li.active {
    background-color: #7ac4fe;
    border-bottom: 0px solid #fff;
    border: solid 1px #d8e1e8;
    border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    width: 120px;
    height: 31px;
    text-align: justify;
}

.tab_container {
    border: 0px solid #999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    border-top: solid 2px #BBB9BA;
    -moz-border-radius-bottom-right: 5px;
    -khtml-border-radius-bottom-right: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottom-left: 5px;
    -khtml-border-radius-bottom-left: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 1.2em;
}

.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}

.tab_content h3 a {
    color: #254588;
}

.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}

.bg_data {
    background-color: #f7f7f7;
    border: solid 1px #bee8f6;
    height: auto;
    width: 100%;
    padding: 10px 0px 0px 0px;
    vertical-align: top;
    height: 200px;
}

.bg_data tr td {
    text-align: left;
    padding: 4px;
    vertical-align: middle;
    font-size: 12px;
    width: 16.6%;
}

input[type=text] {
    border: solid 1px #8b5c59;
    width: 95%;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    font-family: Trebuchet MS;
}

select {
    border: solid 1px #8b5c59;
    width: 96%;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    font-family: Trebuchet MS;
}

.emptyspace {
    height: 5px;
}

/*.btn_css {
    background-image: url(../images/Bg_btn.png);
    background-repeat: repeat-x;
    height: 26px;
    border: solid 1px #7fd4f0;
    color: #454545;
    padding: 0px 10px 3px 10px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}*/
/*------------Login Page Styles----------------------*/
.main_logindiv {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.login_imagetd {
    width: 60%;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border: solid 1px #dfdfdf;
    height: auto;
    vertical-align: middle;
}

.td_loginbox {
    width: 40%;
    vertical-align: top;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border: solid 1px #dfdfdf;
}

.header {
    color: #1566a7;
    font-size: 33px;
    font-weight: bold;
    padding: 10px 0px 20px 10px;
}

.header_member {
    color: #1566a7;
    font-size: 18px;
    font-weight: bold;
}

.table_login {
    width: 96%;
    margin: 10px 0px;
    background-color: #f2f2f2;
    border: dashed 3px #e3e3e3;
    text-align: left;
}

.table_login input[type=text] {
    width: 90%;
    border: solid 1px #dcdcdc;
    padding: 3px 5px;
}

.table_login input[type=password] {
    width: 90%;
    border: solid 1px #dcdcdc;
    padding: 3px 5px;
}

.table_login input[type=button] {
    padding: 5px 15px;
    color: #fff;
    cursor: pointer;
    background-color: #507dd2;
    border: solid 1px #507dd2;
    text-transform: capitalize;
}

.empty_space {
    height: 0px;
}

.links_support {
    color: #5e77af;
}

.btn_css {
    padding: 5px 15px;
    color: #fff;
    cursor: pointer;
    background-color: #507dd2;
    border: solid 1px #507dd2;
    text-transform: capitalize;
}

/*----------------Validation User---------------------*/

.empdata_table {
    width: 100%;
    border: solid 1px #ccc;
    line-height: 1.6em;
}

.td_empheader {
    background-color: #3CB371;
    padding: 4px 10px;
    color: #fff;
}

.hidden{
	display: none;
}

.even {
    background-color: #eee;
}

.even td {
    text-align: left;
    padding: 4px 10px;
    color: #242424;
}

.odd {
    background-color: #ddd;
}

.odd td {
    text-align: left;
    padding: 4px 10px;
    color: #242424;
}

.div_empbtns {
    text-align: center;
    padding: 10px 0px;
}
/*----------------Edit User---------------------*/
.div_edituser {
    width: 100%;
    background-color: #f7f7f7;
    height: auto;
    border: solid 1px #BEE8F6;
    line-height: 1.8em;
}

.table_edituser {
    width: 100%;
    padding: 10px;
}

.td_editnames {
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

.td_editfields {
    width: 70%;
    text-align: left;
    vertical-align: middle;
}

.td_editfields input[type=text] {
    width: 60%;
    border: solid 1px #ddd;
    height: auto;
    padding: 2px 5px;
}

.td_editfields input[type=password] {
    width: 60%;
    border: solid 1px #ddd;
    height: auto;
    padding: 2px 5px;
}

.td_editfields select {
    width: 62.3%;
    border: solid 1px #ddd;
    height: auto;
    padding: 2px 5px;
}

/*----------------Create New User---------------------*/



/*----------------Edit Employer Info---------------------*/

/*------------Employee Reminders-----------------*/
.div_loademail {
    height: auto;
    padding: 0px;
    text-align: center;
    display: none;
}

.div_loademail ul li {
    line-height: 22px;
    list-style-image: url(../images/arrow.png);
    list-style-position: inherit;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    text-align: left;
}
