body
{
    font-family: Arial,Times New Roman, Calibri, Verdana;
    font-size: 14px;
    color: #5b5b5b;
    background-color: #fff;
    border: 0px;
    padding: 0px auto;
    margin: 0px auto;
    width: 100%;
    height: auto;
}
#main_div
{
    /* width: 998px;*/
    width: 100%;
    height: auto;
}
#top_bg
{
    background-image: url(../Images/Bg_topgradient2.png);
    background-repeat: no-repeat;
    background-color: #757575;
    height: 87px;
    width: 99%;
    border: solid 1px #000;
    margin: 5px 0px 0px 0px;
    font-family: Times New Roman;
    font-size: 42pt; /*color: #17b1e3;*/
    color: #fff;
    text-align: left;
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#top_bg div
{
    padding: 10px 0px 0px 15px;
    text-align: center;
}
#menu_td
{
    width: 15%;
    vertical-align: top;
    margin: 5px 0px 0px 0px;
    border: solid 1px #707070;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#main_table
{
    width: 99%;
    padding: 5px 0px 0px 0px;
}
#menu_td table
{
    width: 100%;
}
#menu_td table tr td
{
    vertical-align: top;
    width: 100%;
}
#menu_td table tr td ul
{
    line-height: 22px;
    list-style-type: none;
    list-style-position: inside; /*background-color: #99dcf3;*/
    background-color: #e0f4fb;
    margin: 0px auto;
    padding: 0px;
    font-size: 15px;
    font-family: Trebuchet MS;
}
#menu_td table tr td ul li
{
    text-align: right;
    border: solid 1px #fff;
    padding: 0px;
    width: 100%;
}
#menu_td table tr td ul li:hover
{
    background-color: #99dcf3;
}
#menu_td table tr td ul li.selected
{
    border: solid 1px #fff;
    background-color: #757575;
}
#menu_td table tr td ul li a
{
    text-align: right;
    padding: 4px 20px 4px 0px;
    color: #fff;
    vertical-align: top;
    text-decoration: none;
    width: 100%;
}
#emptyspace_td
{
    /*width: 1%;*/
    vertical-align: top;
}
.data_td
{
    width: 85%;
    padding: 0px 0px 0px 5px;
    vertical-align: top;
}
/*.data_td table
{
    width: 100%;
    vertical-align: top;
}*/
.bgheader
{
    background-image: url(../Images/Bg_header1.png);     
    background-repeat: repeat-x;
    /*background-color: #bee9f7;*/
    width: 100%; 
    /*height: 26px;*/
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 0px 0px 0px 5px;
    vertical-align: middle;
}
.bg_data
{
    background-color: #f2f2f2;
    border: solid 1px #a3a3a3;
    height: auto;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px; /*border-bottom-left-radius: 5px;     -moz-border-bottom-left-radius: 5px;     -webkit-border-bottom-left-radius: 5px;     -o-border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;     -moz-border-bottom-right-radius: 5px;     -webkit-border-bottom-right-radius: 5px;     -o-border-bottom-right-radius: 5px;*/
}
/*.bg_data table
{
    width: 100%;
    vertical-align: top;
}
.bg_data tr th
{
    text-align: left;
    padding: 4px;
    vertical-align: middle;
    font-size: 12px;
    width: 16.6%;
}*/
.bg_data tr td
{
    text-align: left;
    padding: 4px;    
    vertical-align: middle;
    font-size: 12px;
    width: 16.6%;
}
input[type=text]
{
    border: solid 1px #000233;
    width: 90%; /*height: 20px;*/
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    font-family: Trebuchet MS;
}
.emptyspace_table
{
    height: 5px;
}
.btn_css
{
    background-image: url(../Images/Bg_btn1.png);
    background-repeat: repeat-x;
    height: 26px;
    border: solid 1px #a6a6a6;
    color: #454545;
    padding: 0px 10px 3px 10px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
select
{
    border: solid 1px #000233;
    width: 91%; /*height: 20px;*/
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    font-family: Trebuchet MS;
}
