<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       			http://www.springframework.org/schema/beans/spring-beans.xsd
    			http://www.springframework.org/schema/context 
       			http://www.springframework.org/schema/context/spring-context.xsd
       			http://www.springframework.org/schema/aop 
       			http://www.springframework.org/schema/aop/spring-aop.xsd
       			http://www.springframework.org/schema/tx 
       			http://www.springframework.org/schema/tx/spring-tx.xsd
       			http://www.springframework.org/schema/task
				http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<tx:annotation-driven/>
	<context:annotation-config />
	<task:scheduler id="taskScheduler"/>
	<task:executor id="taskExecutor" pool-size="1"/>
	<task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="order" value="1" />
		<property name="alwaysUseFullPath" value="true" />
	</bean>

	<bean id="viewNameTranslator" class="org.springframework.web.servlet.view.DefaultRequestToViewNameTranslator">
		<property name="alwaysUseFullPath" value="true"></property>
	</bean>
	
	<bean id="transactionManager" 
         class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
           <ref bean="mySessionFactory"/>
        </property>
   </bean>
   
   <bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/homecare" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>

	<bean id="tilesConfigurer"
          class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
          p:definitions="/WEB-INF/templates.xml" />

    <bean id="tilesViewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver"
          p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView" />
	
</beans>